@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Donut Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Chart-->
					<div id="Dochart_11" class="d-flex justify-content-center"></div>
					<!--end::Chart-->
				</div>
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Pie Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Chart-->
					<div id="piechart_12" class="d-flex justify-content-center"></div>
					<!--end::Chart-->
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
	<!--end -->
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Area Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Chart-->
					<div id="archart_2"></div>
					<!--end::Chart-->
				</div>
			</div>
			<!--end::Card-->
		</div>

		<div class="col-lg-6">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Column Chart</h3>
					</div>
				</div>
				<div class="card-body">
					<!--begin::Chart-->
					<div id="colchart_3"></div>
					<!--end::Chart-->
				</div>
			</div>
			<!--end::Card-->
		</div>

	</div>
</div>